body {
	background-color: greenyellow;
}
h1 {
	font-size: medium;
}
h2 {
	font-size: small;
}
img {
	max-width: 100%;
}
figure {
	margin: 0;
}
@media screen and (min-width: 794px) {
	body {
		background-color: purple;
		margin: 2px;
	}
}

@media screen and (min-width: 420px) and (max-width: 793px) {
	body{
		background-color: green;
	}
	h1{
		font-size: xx-large;
	}
	h2{
		font-size: x-large;
	}
	p{
		font-size: larger;
		margin: 20px;
	}
	figcaption{
		margin-bottom: 15px;
	}
}
@media screen and (min-width: 1020px) {
	body{
		background-color: yellow;
		max-width: 1200px;
	}
	h1{
		font-size: 4em;
	}
	h2{
		font-size: 3em;
	}
	p{
		font-size: 2em;
		margin: 20px;
	}
	figcaption{
		margin-bottom: 15px;
		font-size: 2em;
	}
}
