html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
header {
    width: 100vw;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    height: fit-content;
    padding: 1em;
}
.menu-and-content {
    display: flex;
    flex-direction: row;
    height: 100%;
}
main {
    padding: 1em;
    padding-top: 0;
}
.menu {
    background-color: hsl(0, 0%, 92%);
    padding: 1em;
    padding-top: 0;
    width: 10%;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    height: fit-content;
    width: 100vw;
    position: absolute;
    bottom: 0;
    padding: 1em;
}
