html, body{
    margin: 0;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.contents{
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    font-size: x-large;
    font-weight: bold;
}
.contents div{
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 33%;
    text-align: center;
    text-decoration: underline;
    background-color: hsl(0, 50%, 50%);
    color: white;
}
#contentsDiv3{
    border-left: 20px solid black;
}
#contentsDiv1{
    border-right: 20px solid black;
}

footer{
    width: 100%;
    text-align: center ;
    font-size: large;
    border: 4px solid black;
    box-sizing: border-box;
    font-weight: bold;
    padding: 10px;
} 
